#items .got {
  text-decoration:line-through;
  color: #000;
}
#items .need, .got {
  cursor: pointer;
  font-family: Chalkduster, 'Bradley Hand', cursive;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}
ul li {
  list-style: none;
}
.jumbotron {
  background: #fff url("Images/pexels-photo-616404.jpeg") no-repeat;
  background-size: 100% 100%;
  height: 300px;
  width: auto;

  align-items: center;
  justify-content: center;
  display: flex;
}

.jumbotron h1 {
  margin: 0;
}

#groceryList {
    background: #000 url("Images/Brown-Paper-Bag-Texture-image-Fiaw.jpg")no-repeat;
    margin-top: -32px;
    padding-bottom: 25%;
    background-size: cover;
}
